%container{
    padding-left: $gap;
    padding-right: $gap;
    max-width: $ul;
    margin: auto;
}

%btn-container {
    @include sm-min {
      display: flex;
      justify-content: center;
    }
  
    .btn--primary {
      @include sm-min {
        min-width: 350px;
      }
      @include sm {
        width: 100%;
      }
    }
  }