
      .header {
        min-height: 100vh;
        background-color: #2d3651;
        color: $color-light;
        background-image: url(../img/img-header.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        padding: 100px 0;
        display: grid;
        align-content: center;
      }
